<div class="container">
  <nav>
    <ul>
      <li>
        <a
          mat-raised-button
          routerLinkActive="active"
          [routerLink]="'give-consent'"
        >
          Give consent
        </a>
      </li>
      <li>
        <a
          mat-raised-button
          routerLinkActive="active"
          [routerLink]="'consents'"
        >
          Collected Consents
        </a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
