.container
  .content
    flex-grow: 1
    margin-left: 200px
  nav 
    width: 200px
    height: 100vh
    position: fixed
    left: 0
    top: 0
    background-color: #ddd
    border-right: 1px solid #aaa
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        padding: 10px
        .active
          background-color: #333
          color: white