<form [formGroup]="formGroup" (submit)="submitForm()">
  <div class="flex-row">
    <!-- INPUT NAME -->
    <mat-form-field class="input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <!-- INPUT EMAIL -->
    <mat-form-field class="input" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <section class="example-section">
    <p>I agree to :</p>

    <ul>
      <!-- CHECKBOX NEWSLETTER -->
      <li>
        <mat-checkbox formControlName="newsletter">
          Recive newsletter
        </mat-checkbox>
      </li>

      <!-- CHECKBOX TARGETTED ADS -->
      <li>
        <mat-checkbox formControlName="targetAds">
          Be shown targeted ads
        </mat-checkbox>
      </li>

      <!-- CHECKBOX VISITS -->
      <li>
        <mat-checkbox formControlName="visits">
          Contribute to anonymous visit statistics
        </mat-checkbox>
      </li>
    </ul>
  </section>

  <!-- SUBMIT BUTTON -->
  <button
    [disabled]="!checkValid()"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Give consent
  </button>
</form>
