<table mat-table [dataSource]="consentList">
  <!-- HEADERS -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <!-- COLUMN NAME -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let consent">{{ consent.username }}</td>
  </ng-container>

  <!-- COLUMN EMAIL -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let consent">{{ consent.email }}</td>
  </ng-container>

  <!-- COLUMN CONSENTS -->
  <ng-container matColumnDef="consent">
    <th mat-header-cell *matHeaderCellDef>Consent given for</th>
    <td mat-cell *matCellDef="let consent">
      <span *ngIf="consent.newsletter">Recive newsletter </span>
      <span *ngIf="consent.targetAds">Be shown targeted ads </span>
      <span *ngIf="consent.visits">
        Contribute to anonymous visit statistics
      </span>
    </td>
  </ng-container>
</table>
<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[2, 5, 10, 15]"> </mat-paginator>
